<link rel="stylesheet" type="text/css" href="css/signin.css">
<div class="text-center">
    <form class="form-signin" ng-submit="auth()">
        <!-- <img class="mb-4" src="assets/icons/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-bold">Sign in</h1><br>
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>
        <div class="checkbox mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
</div>
